<% layout('layouts/boilerplate')%>
    <div class="row">
        <h1>Edit Ingredient <%=ingredient.name%>
        </h1>
    </div>
    <div class="row">
        <form class="row gy-2 gx-3 align-items-center" action="/ingredients/<%=ingredient._id%>?_method=PUT"
            method="POST">
            <div class="mb-3 col-auto">
                <label for="name">Name</label>
                <input type="text" id="name" name="ingredient[name]" value="<%=ingredient.name%>">
            </div>
            <div class="mb-3 col-auto">
                <label for="descripton">description:</label>
                <input type="text" id="descripton" name="ingredient[descripton]" value="<%=ingredient.description%>">
            </div>
            <div class="mb-3 col-auto">
                <label for="createdDate">created: </label>
                <input type="date" id="createdDate" name="ingredient[createdDate]"
                    value="<%=formatDate(ingredient.createdDate)%>">
            </div>
            <div class="mb-3 col-auto">
                <label for="quantity">quantity</label>
                <input type="number" id="quantity" name="ingredient[quantity]" value="<%=ingredient.quantity%>">
            </div>
            <div class="mb-3 col-auto">
                <label for="quantityType">quantity type: </label>
                <input type="text" id="quantityType" name="ingredient[quantityType]"
                    value="<%=ingredient.quantityType%>">
            </div>
            <div class="mb-3 col-auto">
                <button class="btn btn-success btn-lg">Update Ingredient</button>
            </div>
        </form>
        </row>
        <div class="row-auto">
            <a class="btn btn-primary btn-lg" href="/ingredients/<%=ingredient._id%>">Back To <%=ingredient.name%> </a>
        </div>

        <div class="row">
            <div class="mb-3 col-auto">
                <h2>Recipes</h2>
                <% existingRecipesArray.forEach(function(recipe, i) {%>
                    <div class="col-auto form-check-inline">
                        <ul>
                            <a href="/recipes/<%=recipe._id%>" class="btn btn-primary">
                                <%=recipe.name%>
                            </a>
                            <br>
                            <div class="form-check-inline">
                                <input type="checkbox" id="ing-<%=i%>" name="removeRecipes[]" value="<%=recipe._id%>">
                            </div>
                            <label for="ing-<%=i%>">Remove Recipe <%=recipe.name%> from Ingredient
                                    <%=ingredient.name%>
                            </label>
                        </ul>
                    </div>
                    <% }) %>
            </div>
        </div>
        <div class="row">
            <div class="mb-3 col-auto">
                <h2>Items</h2>
                <% existingItemsArray.forEach(function(item, i) {%>
                    <div class="col-auto form-check-inline">
                        <ul>
                            <a href="/items/<%=item._id%>" class="btn btn-primary">
                                <%=item.title%>
                                    <br>
                                    <%=item.quantity%>
                                        <%=item.quantityType%>
                            </a>
                            <br>
                            <div class="form-check-inline">
                                <input type="checkbox" id="ing-<%=i%>" name="removeItems[]" value="<%=item._id%>">
                            </div>
                            <label for="ing-<%=i%>">Remove Item <%=item.title%> from Ingredient <%=ingredient.name%>
                            </label>
                        </ul>
                    </div>
                    <% }) %>
            </div>