<% layout("layouts/boilerplate")%>
    <!-- add displaying recipes here too, and links -->
    <!-- then work in editing for opposite types -->
    <a href="/ingredients/newFromScratch">Make a new Ingredient</a>
    <h1>All Ingredients</h1>
    <% for ( let ingredient of ingredients) { %>
        <li>
            <a href="/ingredients/<%=ingredient._id%>">
                <%=ingredient.name%>
            </a>
        </li>
        <ul>
            <li>
                name: <%=ingredient.name%>
            </li>
            <li>
                description: <%=ingredient.description%>
            </li>
            <li>
                quantity: <%=ingredient.quantity%>
                    <%=ingredient.quantityType%>
            </li>
            <li>
                Date created: <%=formatDate(ingredient.createdDate)%>
            </li>
        </ul>
        <% } %>