<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index of Ingredients</title>
</head>

<body>
    <h1>All Ingredients</h1>
    <% for ( let ingredient of ingredients) { %>
        <ul>
            <li>
                name: <%=ingredient.name%>
            </li>
            <li>
                description: <%=ingredient.description%>
            </li>
            <li>
                quantity: <%=ingredient.quantity%>
                    <%=ingredient.quantityType%>
            </li>
            <li>
                Date created: <%=formatDate(ingredient.createdDate)%>
            </li>
        </ul>
        <% } %>
</body>

</html>