<% layout('layouts/boilerplate')%>
    <div class="row">
        <h1>
            <%=recipe.name %>
        </h1>
        <h2>Add an Ingredient</h2>
        <form class="row gy-2 gx-3 align-items-center validated-form" action="/ingredients/<%=recipe._id%>/new"
            method="POST" novalidate>
            <div class="mb-3 col-auto">
                <label class="form-label" for="name">Name:</label>
                <input class="form-control" type="text" id='name' name='ingredient[name]' required>
            </div>
            <div class="mb-3 col-auto">
                <label class="form-label" for="description">Description:</label>
                <input class="form-control" type="text" id='upc' name='ingredient[description]' required>
            </div>
            <div class="mb-3 col-auto">
                <label class="form-label" for="quantity">Quantity:</label>
                <input class="form-control" type="number" id='quantity' name='ingredient[quantity]' min=0 value=1
                    required>
            </div>
            <div class="mb-3 col-auto">
                <label class="form-label" for="quantityType">Quantity Type:</label>
                <input class="form-control" type="text" id='quantityType' name='ingredient[quantityType]' required>
            </div>
            <div class="mb-3 col-auto">
                <button class="btn btn-success">Add Ingredient</button>
            </div>
    </div>
    <div class="row-auto">
        <a class="btn btn-primary btn-lg" href="/recipes/<%=recipe._id%>">Back To <%=recipe.name%> </a>
    </div>
    <div class="row">
        <h2>Current Ingredients for <%=recipe.name%>
        </h2>
        <% for (let ing of existingIngredientsArray) { %>
            <div class="mb-3 col-auto">
                <a href="/ingredients/<%=ing._id%>" class="btn btn-primary">
                    <%=ing.name%>
                        <br>
                        <%=ing.quantity%>
                            <%=ing.quantityType%>
                </a>
            </div>
            <% } %>

    </div>
    <div class="mb-3 mt-3 col-auto">
        <h2>Ingredients</h2>
        <% allIngredients.forEach(function(ingredient, i) {%>
            <div class="col-auto form-check-inline">
                <ul>
                    <a href="/ingredients/<%=ingredient._id%>" class="btn btn-primary">
                        <%=ingredient.name%>
                            <br>
                            <%=ingredient.quantity%>
                                <%=ingredient.quantityType%>
                    </a>
                    <br>
                    <div class="form-check-inline">
                        <input type="checkbox" id="ing-<%=i%>" name="addIngs[]" value="<%=ingredient._id%>">
                    </div>
                    <label for="ing-<%=i%>">Add to <%=recipe.name%>?</label>
                </ul>
            </div>
            <% }) %>
    </div>
    </div>
    </form>