<% layout('layouts/boilerplate')%>
    <div class="row gy-2 gx-3 align-items-center">
        <div class="mb-3 col-auto">
            <h1>
                Item: <%=item.title%>
            </h1>
            <h2>Add an Ingredient</h2>
            <form class="row gy-2 gx-3 align-items-center" action="/ingredients/<%=item._id%>/newItem" method="POST">
                <div class="mb-3 col-auto">
                    <label class="form-label" for="name">Name:</label>
                    <input class="form-control" type="text" id='name' name='ingredient[name]'>
                </div>
                <div class="mb-3 col-auto">
                    <label class="form-label" for=" description">Description:</label>
                    <input class="form-control" type="text" id='upc' name='ingredient[description]'>
                </div>
                <div class="mb-3 col-auto">
                    <label class="form-label" for=" quantity">Quantity:</label>
                    <input class="form-control" type="number" id='quantity' name='ingredient[quantity]' min=1 value=1>
                </div>
                <div class="mb-3 col-auto">
                    <label class="form-label" for=" quantityType">Quantity Type:</label>
                    <input class="form-control" type="text" id='quantityType' name='ingredient[quantityType]'
                        placeholder="ex. tsp(s) or jar(s)">
                </div>
                <div class="mb-3 col-auto">
                    <button class="btn btn-success">Add Ingredient</button>
                </div>
        </div>
        <div class="mb-3 col-auto">
            <h2>Already existing Ingredients</h2>
            <% for (let ing of existingIngredientsArray) { %>
                <div class="mb-3 col-auto">
                    <ul>
                        <a href="/ingredients/<%=ing._id%>">
                            <%=ing.name%>
                        </a>
                        <li>
                            <%=ing.quantity%>
                                <%=ing.quantityType%>
                        </li>
                    </ul>
                </div>
                <% } %>
        </div>
        <div class="mb-3 col-auto">
            <h2>Ingredients</h2>
            <% allIngredients.forEach(function(ingredient, i) {%>
                <div class="form-check-inline col-auto">
                    <ul>
                        <li>
                            <%=ingredient.name%>
                        </li>
                        <div class="form-check-inline">
                            <input type="checkbox" id="ing-<%=i%>" name="addIngs[]" value="<%=ingredient._id%>">
                        </div>
                        <label for="ing-<%=i%>">Attach to Item?</label>
                    </ul>
                </div>
                <% }) %>
        </div>
    </div>
    </form>
    <a class="btn btn-primary btn-lg mb-3" href="/items/<%=item._id%>/">Back to <%=item.title%></a>