<% layout('layouts/boilerplate')%>
    <h1>Edit Item <%=item.title%>
    </h1>
    <form class="row gy-2 gx-3 align-items-center validated-form" action="/items/<%=item._id%>?_method=PUT"
        method="POST" novalidate>
        <div class="mb-3 col-auto">
            <label class="form-label" for="title">Title:</label>
            <input class="form-control" type="text" id="title" name="item[title]" value="<%=item.title%>" required>
        </div>
        <div class="mb-3 col-auto">
            <label class="form-label" for="upc">UPC:</label>
            <input class="form-control" type="number" id="upc" name="item[upc]" value="<%=item.upc%>" min=1 required>
        </div>
        <div class="mb-3 col-auto">
            <label class="form-label" for="location">Location:</label>
            <input class="form-control" type="text" id="location" name="item[location]" value="<%=item.location%>"
                required>
        </div>
        <div class="mb-3 col-auto">
            <label class="form-label" for="quantity">Quantity:</label>
            <br>
            <input class="form-control" type="number" id="quantity" name="item[quantity]" value="<%=item.quantity%>"
                min=0 required>
        </div>
        <div class="mb-3 col-auto">
            <label class="form-label" for="quantityType">Quantity Type:</label>
            <input class="form-control" type="text" id="quantityType" name="item[quantityType]"
                value="<%=item.quantityType%>" min=1 required>
        </div>
        <div class="mb-3 col-auto">
            <label class="form-label" for="price">Price:</label>
            <div class="input-group">
                <span class="input-group-text" id="price-label">$</span>
                <input class="form-control" type="text" id='price' placeholder="0.00" name='item[price]' min=0 required
                    value="<%=item.price%>">
            </div>
        </div>
        <div class="mb-3 col-auto">
            <label class="form-label" for="caseQty">Case Quantity:</label>
            <input class="form-control" type="number" id="caseQty" name="item[caseQty]" value="<%=item.caseQty%>" min=1
                required>
        </div>
        <div class="mb-3 col-auto">
            <label class="form-label" for="date">Date Purchased:</label>
            <input class="form-control" type="date" id="date" name="item[date]" value="<%=formatDate(item.date)%>"
                required>
        </div>
        <div class="mb-3 col-auto">
            <label class="form-label" for="shelfLife">Shelf Life in Days:</label>
            <input class="form-control" type="number" id="shelfLife" name="item[shelfLife]" value="<%=item.shelfLife%>"
                min=1 required>
        </div>
        <div class="mb-3 col-auto">
            <label class="form-label" for="expiration_date">Expiration Date:</label>
            <input class="form-control" type="date" id="expiration_date" name="item[expiration_date]"
                value="<%=formatDate(item.expiration_date)%>" min=1 required>
        </div>
        <div class="mb-3 col-auto">
            <button class="btn btn-success">Update Item</button>
        </div>
        <div class="mb-3 col-auto">
            <h2>Ingredients that <%=item.title%> counts as:
            </h2>
            <% existingIngredientsArray.forEach(function(ingredient, i) {%>
                <div class="col-auto form-check-inline">
                    <ul>
                        <li>
                            <%=ingredient.name%>
                                <br>
                                <%=ingredient.quantity%> - <%=ingredient.quantityType%>
                        </li>
                        <div class="form-check-inline">
                            <input type="checkbox" id="ing-<%=i%>" name="removeIngs[]" value="<%=ingredient._id%>">
                        </div>
                        <label for="ing-<%=i%>">Remove Ingredient <%=ingredient.name%> from Item <%=item.title%></label>
                    </ul>
                </div>
                <%})%>
        </div>
    </form>
    <a class="btn btn-primary btn-lg mb-3" href="/items/<%= item._id%>">Back To Item <%=item.title%> </a>