<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Item</title>
</head>

<body>
    <h1>Edit Item</h1>
    <form action="/items/<%=item._id%>?_method=PUT" method="POST">
        <div>
            <label for="title">Title</label>
            <input type="text" id="title" name="item[title]" value="<%=item.title %>">
        </div>
        <div>
            <label for="upc">UPC</label>
            <input type="number" id="upc" name="item[upc]" value="<%=item.upc %>" min=1>
        </div>
        <div>
            <label for="location">Location</label>
            <input type="text" id="location" name="item[location]" value="<%=item.location %>">
        </div>
        <div>
            <label for="quantity">quantity</label>
            <input type="number" id="quantity" name="item[quantity]" value="<%=item.quantity %>" min=1>
        </div>
        <div>
            <label for="price">Price</label>
            <input type="number" id="price" name="item[price]" value="<%=item.price %>" min=1>
        </div>
        <div>
            <label for="caseQty">case quantity</label>
            <input type="number" id="caseQty" name="item[caseQty]" value="<%=item.caseQty %>" min=1>
        </div>
        <button>Update Item</button>
    </form>
    <a href="/items/<%= item._id%>">Back To Item</a>

</body>

</html>