<% layout('layouts/boilerplate')%>
    <h1>All Items</h1>
    <div>
        <a href="/items/new">Add Item Manually</a>
    </div>
    <div>
        <a href="/recipes/">All recipes</a>
    </div>
    <div>
        <a href="/ingredients/">All ingredients</a>
    </div>
    <div>
        <a href="/items/add-by-upc">Add Item by Scanning</a>
    </div>
    <div>
        <a href="/items/decrement-by-upc">Subtract Item by Scanning</a>
    </div>
    <div>
        <a href="/items/delete-by-upc">Delete Item by Scanning</a>
    </div>
    <div class="container mt-3">
        <div class="row">
            <div class="col-auto mb-3">
                <div class="card mb-3" style="width: 12rem;">
                    <h5 class="card-title">
                        Total cost of all items:
                    </h5>
                    <p class="card-text">$<%=total%>
                    </p>
                    <h5 class="card-title">
                        Average cost per item:
                    </h5>
                    <p class="card-text">$<%=average%>
                    </p>
                </div>
            </div>
            <div class="col-auto mb-3">
                <div class="card mb-3" style="width: 12rem;">
                    <h5 class="card-title">
                        Expired in location:
                    </h5>
                    <% for ( let item of expired) { %>
                        <li class="card-text">
                            <%=item.title%> at <%=item.location%>
                        </li>
                        <% } %>
                </div>
            </div>
            <div class="col-auto mb-3">
                <div class="card mb-3" style="width: 12rem;">
                    <h5 class="card-title">
                        Upcoming expirations:
                    </h5>
                    <% for ( let item of throw_outs) { %>
                        <li class="card-text">
                            <%=item.title%> at <%=item.location%>
                        </li>
                        <% } %>
                </div>
            </div>
            <div class="col-auto mb-3">
                <div class="card mb-3" style="width: 12rem;">
                    <h5 class="card-title">
                        Out of Stock:
                    </h5>
                    <% for ( let item of outOfStock) { %>
                        <li class="card-text">
                            <%=item.title%>
                        </li>
                        <% } %>
                </div>
            </div>
        </div>
    </div>
    <h1>Items</h1>
    <div class="container mt-3">
        <div class="row">
            <% for ( let item of items) { %>
                <div class="col-auto mb-3">
                    <div class="card mb-3" style="width: 12rem;">
                        <img class="card-img-top" src="<%=item.image%>" alt="" style="height: 9rem;">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%=item.title%>
                            </h5>
                            <p class="card-text">Price: <%=item.price%>
                            </p>
                            <p class="card-text">Location: <%=item.location%>
                            </p>
                            <p class="card-text">Expires: <%=formatDate(item.expiration_date)%>
                            </p>
                            <p class="card-text">
                                <small class="text-muted">quantity: <%=item.quantity%>
                                        <%=item.quantityType%></small>
                            </p>
                            <a href="/items/<%=item._id%>" class="btn btn-primary">View <%=item.title%></a>
                        </div>
                    </div>
                </div>
                <%}%>
        </div>
    </div>