<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Items</title>
</head>

<body>
    <h1>All Items</h1>
    <div>
        <a href="/items/new">Add Item Manually</a>
    </div>
    <div>
        <a href="/items/add-by-upc">Add Item by Scanning</a>
    </div>
    <div>
        <a href="/items/decrement-by-upc">Subtract Item by Scanning</a>
    </div>
    <div>
        <a href="/items/delete-by-upc">Delete Item by Scanning</a>
    </div>
    <h2>
        Total cost of all items: $<%=total%>
    </h2>
    <h3>
        average cost per item: $<%=average%>
    </h3>
    <h4>Expired in location: </h4>
    <ul>
        <% for ( let item of expired) { %>
            <li>
                <%=item.title%> at <%=item.location%>
            </li>
            <% } %>
    </ul>
    <h4>upcoming expirations: </h4>
    <ul>
        <% for ( let item of throw_outs) { %>
            <li>
                <%=item.title%> at <%=item.location%>
            </li>
            <% } %>
    </ul>

    <ul>
        <% for ( let item of items) { %>
            <li>
                <a href="/items/<%=item._id%>">
                    <%=item.title%>
                </a>
            </li>
            <ul>
                <li>
                    upc: <%=item.upc%>
                </li>
                <li>
                    price: <%=item.price%>
                </li>
                <li>
                    quantity: <%=item.quantity%>
                </li>
                <li>
                    location: <%=item.location%>
                </li>
                <li>
                    case quantity: <%=item.caseQty%>
                </li>
                <li>
                    Date of purchase: <%=formatDate(item.date)%>
                </li>
                <li>
                    Shelf Life in Days: <%=item.shelfLife%>
                </li>
                <li>
                    Expiration Date: <%=formatDate(item.expiration_date)%>
                </li>
            </ul>

            <% } %>
    </ul>
</body>

</html>