<% layout('layouts/boilerplate')%>
    <h1>All Items</h1>
    <div>
        <a href="/items/new">Add Item Manually</a>
    </div>
    <div>
        <a href="/recipes/">All recipes</a>
    </div>
    <div>
        <a href="/ingredients/">All ingredients</a>
    </div>
    <div>
        <a href="/items/add-by-upc">Add Item by Scanning</a>
    </div>
    <div>
        <a href="/items/decrement-by-upc">Subtract Item by Scanning</a>
    </div>
    <div>
        <a href="/items/delete-by-upc">Delete Item by Scanning</a>
    </div>
    <h2>
        Total cost of all items: $<%=total%>
    </h2>
    <h3>
        average cost per item: $<%=average%>
    </h3>
    <h4>Expired in location: </h4>
    <ul>
        <% for ( let item of expired) { %>
            <li>
                <%=item.title%> at <%=item.location%>
            </li>
            <% } %>
    </ul>
    <h4>upcoming expirations: </h4>
    <ul>
        <% for ( let item of throw_outs) { %>
            <li>
                <%=item.title%> at <%=item.location%>
            </li>
            <% } %>
    </ul>
    <h1>Items</h1>
    <ul>
        <% for ( let item of items) { %>
            <div class="card mb-3">
                <div class="row">
                    <div class="col-md-4">
                        <h3>
                            <%=item.title%>
                        </h3>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Price: $<%=item.price%>
                            </h5>
                            <p class="card-text">Location: <%=item.location%>
                            </p>
                            <p class="card-text">Expires: <%=formatDate(item.expiration_date)%>
                            </p>
                            <p class="card-text">
                                <small class="text-muted">quantity: <%=item.quantity%>
                                        <%=item.quantityType%></small>
                            </p>
                            <a href="/items/<%=item._id%>" class="btn btn-primary">View <%=item.title%></a>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>
    </ul>