<% layout('layouts/boilerplate')%>
    <h1>All Items</h1>
    <form class="mt-3 mb-3" action="/items/itemSearch" method="POST">
        <label class="form-label" for="txtAutoComplete">Search Items: </label>
        <input type="text" id="txtAutoComplete" list="itemsList" name="txtAutoComplete">
        <button class="btn btn-success">Search</button>
    </form>
    <datalist id="itemsList">
        <% for(let item of items) {%>
            <option value="<%=item.title%>" />
            <% } %>
    </datalist>
    <div class="container mt-3">
        <div class="row">
            <% for ( let item of items) { %>
                <div class="col-auto mb-3">
                    <div class="card mb-3" style="width: 12rem;">
                        <img class="card-img-top" src="<%=item.image%>" alt="" style="height: 9rem;">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%=item.title%>
                            </h5>
                            <p class="card-text">Price: <%=item.price%>
                            </p>
                            <p class="card-text">Location: <%=item.location%>
                            </p>
                            <p class="card-text">Expires: <%=formatDate(item.expiration_date)%>
                            </p>
                            <p class="card-text">
                                <small class="text-muted">quantity: <%=item.quantity%>
                                        <%=item.quantityType%></small>
                            </p>
                            <a href="/items/<%=item._id%>" class="btn btn-primary">View <%=item.title%></a>
                        </div>
                    </div>
                </div>
                <%}%>
        </div>
    </div>