<% layout('layouts/boilerplate')%>
    <form class="row gy-2 gx-3 align-items-center" action="/items" method="POST">
        <div class="mb-3 col-auto">
            <label class="form-label" for="title">Title</label>
            <input class="form-control" type="text" id='title' name='item[title]'>
        </div>
        <div class="mb-3 col-auto">
            <label class="form-label" for="upc">UPC</label>
            <input class="form-control" type="number" id='upc' name='item[upc]' min=1>
        </div>
        <div class="mb-3 col-auto">
            <label class="form-label" for="location">location</label>
            <input class="form-control" type="text" id='location' name='item[location]'>
        </div>
        <div class="mb-3 col-auto">
            <label class="form-label" for="quantity">quantity</label>
            <input class="form-control" type="number" id='quantity' name='item[quantity]' min=1 value=1>
        </div>
        <div class="mb-3 col-auto">
            <label class="form-label" for="quantity">quantity type</label>
            <input class="form-control" type="text" id='quantityType' name='item[quantityType]'>
        </div>
        <div class="mb-3 col-auto">
            <label class="form-label" for="price">price</label>
            <div class="input-group">
                <span class="input-group-text" id="price-label">$</span>
                <input class="form-control" type="text" id='price' placeholder="0.00" name='item[price]' min=1>
            </div>
        </div>
        <div class="mb-3 col-auto">
            <label class="form-label" for="caseQty">case quantity</label>
            <input class="form-control" type="number" id='caseQty' name='item[caseQty]' min=1>
        </div>
        <div class="mb-3 col-auto">
            <label class="form-label" for="date">Date of Purchase</label>
            <input class="form-control" type="date" id='date' name='item[date]' value='<%=todaysDate(new Date())%>'>
        </div>
        <div class="mb-3 col-auto">
            <label class="form-label" for="shelfLife">Shelf Life in Days</label>
            <input class="form-control" type="number" id='shelfLife' name='item[shelfLife]' min=1>
        </div>
        <div class="mb-3 col-auto">
            <label class="form-label" for="expiration_date">expiration date</label>
            <input class="form-control" type="date" id="expiration_date" name="item[expiration_date]" min=1>
        </div>
        <div class="mb-3 col-auto">
            <label class="form-label" for="image">image url</label>
            <input class="form-control" type="text" id="image" name="item[image]">
        </div>
        <div class="mb-3 col-auto">
            <button class="btn btn-success">Add Item</button>
        </div>
        <div class="mb-3 col-auto">
            <h2>Ingredients</h2>
            <% allIngredients.forEach(function(ingredient, i) {%>
                <div class="col-auto form-check-inline">
                    <ul>
                        <li>
                            <%=ingredient.name%>
                        </li>
                        <div class="form-check-inline">
                            <input type="checkbox" id="ing-<%=i%>" name="addIngredients[]" value="<%=ingredient._id%>">
                        </div>
                        <label for="ing-<%=i%>">Attach Ingredient to item?</label>
                    </ul>
                </div>
                <% }) %>
        </div>
    </form>

    <footer class="mb-3">
        <a href="/items">All Items</a>
    </footer>