<% layout('layouts/boilerplate')%>
    <div class="row">
        <h1>
            <%=ingredient.name%>:
        </h1>
        <h2>Attach an Item</h2>
        <form class="row gy-2 gx-3 align-items-center validated-form"
            action="/ingredients/<%=ingredient._id%>/items/newIngredient" method="POST" novalidate>
            <div class="mb-3 col-auto">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id='title' name='item[title]' required>
            </div>
            <div class="mb-3 col-auto">
                <label class="form-label" for="location">Location:</label>
                <input class="form-control" type="text" id='location' name='item[location]' required>
            </div>
            <div class="mb-3 col-auto">
                <label class="form-label" for="upc">UPC:</label>
                <input class="form-control" type="number" id='upc' name='item[upc]' required>
            </div>
            <div class="mb-3 col-auto">
                <label class="form-label" for="quantity">Quantity:</label>
                <input class="form-control" type="number" id='quantity' name='item[quantity]' min=1 value=1 required>
            </div>
            <div class="mb-3 col-auto">
                <label class="form-label" for="quantityType">Quantity Type</label>
                <input class="form-control" type="text" id='quantityType' name='item[quantityType]'
                    placeholder="ex. tsp(s) or jar(s)" required>
            </div>
            <div class="mb-3 col-auto">
                <label class="form-label" for="price">Price:</label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label">$</span>
                    <input class="form-control" type="text" id='price' placeholder="0.00" name='item[price]' min=0
                        required>
                </div>
            </div>
            <div class="mb-3 col-auto">
                <label class="form-label" for="caseQty">Case Quantity:</label>
                <input class="form-control" type="number" id='caseQty' name='item[caseQty]' required>
            </div>
            <div class="mb-3 col-auto">
                <label class="form-label" for="date">Date of Purchase:</label>
                <input class="form-control" type="date" id='date' name='item[date]' value='<%=todaysDate(new Date())%>'
                    required>
            </div>
            <div class="mb-3 col-auto">
                <label class="form-label" for="shelfLife">Shelf Life in Days:</label>
                <input class="form-control" type="number" id='shelfLife' name='item[shelfLife]' min=1 required>
            </div>
            <div class="mb-3 col-auto">
                <label class="form-label" for="expiration_date">Expiration Date:</label>
                <input class="form-control" type="date" id="expiration_date" name="item[expiration_date]" min=1>
            </div>
            <div class="mb-3 col-auto">
                <button class="btn btn-success">Add Item</button>
            </div>
    </div>


    <div class="row">
        <h2>Already existing Items</h2>
        <% for (let item of existingItemsArray) { %>
            <div class="mb-3 col-auto">
                <a href="/items/<%=item._id%>" class="btn btn-primary">
                    <%=item.title%>
                </a>
                <li>
                    <%=item.quantity%>
                        <%=item.quantityType%>
                </li>
            </div>
            <% } %>
    </div>
    <div class="row">
        <div class="mb-3 mt-3 col-auto">
            <h2>Items</h2>
            <% allItems.forEach(function(item, i) {%>
                <div class="col-auto form-check-inline">
                    <ul>
                        <li>
                            <%=item.title%>
                        </li>
                        <div class="form-check-inline">
                            <input type="checkbox" id="ing-<%=i%>" name="addItems[]" value="<%=item._id%>">
                        </div>
                        <label for="ing-<%=i%>">Attach Item to Ingredient?</label>
                    </ul>
                </div>
                <% }) %>
        </div>
    </div>

    </form>
    <a class="btn btn-primary btn-lg mb-3" href="/ingredients/<%=ingredient._id%>/">Back to <%=ingredient.name%></a>