<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show</title>
</head>

<body>
    <h1>
        <%= item.title %>
    </h1>
    <h2>
        <%= item.upc %>
    </h2>
    <ul>
        <li>
            price: <%= item.price %>
        </li>
        <li>
            quantity: <%= item.quantity %>
        </li>
        <li>
            location: <%= item.location %>
        </li>
        <li>
            case quantity: <%= item.caseQty %>
        </li>
    </ul>
    <p> <a href="/items/<%=item._id%>/edit">Edit</a>
    </p>
    <p>
    <form action="/items/<%=item._id%>?_method=DELETE" method="POST">
        <button>Delete</button>
    </form>
    </p>
    <footer>
        <a href="/items">All Items</a>
    </footer>
</body>

</html>