<% layout('layouts/boilerplate')%>
    <h1>All Recipes</h1>
    <ul>
        <% for ( let recipe of recipes) { %>
            <li>
                <a href="/recipes/<%=recipe._id%>">
                    <%=recipe.name%>
                </a>
            </li>
            <ul>
                <li>
                    recipe: <%=recipe.recipe%>
                </li>
                <li>
                    minTime: <%=recipe.minTime%>
                </li>
                <li>
                    maxTime: <%=recipe.maxTime%>
                </li>
                <li>
                    created on: <%=formatDate(recipe.createdDate)%>
                </li>

            </ul>

            <% } %>


                <footer>
                    <br>
                    <a href="/recipes/">All recipes</a>
                    <br>
                    <a href="/ingredients/">All ingredients</a>
                    <br>
                    <a href="/recipes/new">make a new recipe</a>
                </footer>