<% layout('layouts/boilerplate')%>
    <h1>All Recipes</h1>
    <form class="mt-3 mb-3" action="/recipes/recipeSearch" method="POST">
        <label class="form-label" for="txtAutoComplete">Search Recipes: </label>
        <input type="text" id="txtAutoComplete" list="recipesList" name="txtAutoComplete">
        <button class="btn btn-success">Search</button>
    </form>
    <datalist id="recipesList">
        <% for(let recipe of recipes) {%>
            <option value="<%=recipe.name%>" />
            <% } %>
    </datalist>
    <div class="container mt-3">
        <div class="row">
            <% for ( let recipe of recipes) { %>
                <div class="col-auto mb-3">
                    <div class="card mb-3" style="width: 21rem;">
                        <div class="card-body">
                            <div class="card-title">
                                <h5>
                                    <%=recipe.name%>
                                </h5>
                            </div>
                            <p class="card-text">
                                minTime: <%=recipe.minTime%>
                            </p>
                            <p class="card-text">
                                maxTime: <%=recipe.maxTime%>
                            </p>
                            <p class="card-text">
                                created on: <%=formatDate(recipe.createdDate)%>
                            </p>
                            <a href="/recipes/<%=recipe._id%>" class="btn btn-primary">View <%=recipe.name%></a>
                        </div>
                    </div>
                </div>
                <%}%>
        </div>
    </div>