<!DOCTYPE html>
<html lang="en">
<% layout('layouts/boilerplate')%>
    <h1 class="mb-3">Make a New Recipe</h1>
    <form class="row gy-2 gx-3 align-items-center" action="/recipes/new" method="POST">
        <div class="mb-3 col-auto">
            <label class="form-label" for="name">Name:</label>
            <input class="form-control" type="text" id='name' name='recipe[name]'>
        </div>
        <div class="mb-3 col-auto">
            <label class="form-label" for="minTime">Min time to make:</label>
            <div class="input-group">
                <span class="input-group-text" id="minTime-label">Minutes:</span>
                <input class="form-control" type="number" id='minTime' name='recipe[minTime]' min=0 required>
            </div>
        </div>
        </div>
        <div class="mb-3 col-auto">
            <label class="form-label" for="maxTime">Max time to make:</label>
            <div class="input-group">
                <span class="input-group-text" id="maxTime-label">Minutes:</span>
                <input class="form-control" type="number" id='maxTime' name='recipe[maxTime]' min=0 required>
            </div>
        </div>
        <div class="row">
            <label class="form-label" for="recipe">Recipe:</label>
            <div class="mb-3 form-floating">
                <textarea class="form-control" style="white-space: pre-wrap;height: 20rem;" class="form-control"
                    type="text" id='recipe' name='recipe[recipe]'></textarea>
            </div>
        </div>
        <div class="mb-3 col-auto">
            <button class="btn btn-success">Add Recipe</button>
        </div>
        <div class="mb-3 col-auto">
            <h2>Ingredients</h2>
            <% allIngredients.forEach(function(ingredient, i) {%>
                <div class="col-auto form-check-inline">
                    <ul>
                        <li>
                            <%=ingredient.name%>
                                <br>
                                <%=ingredient.quantity%> - <%=ingredient.quantityType%>
                        </li>
                        <div class="form-check-inline">
                            <input type="checkbox" id="ing-<%=i%>" name="addIngredients[]" value="<%=ingredient._id%>">
                        </div>
                        <label for="ing-<%=i%>">Add Ingredient?</label>
                    </ul>
                </div>
                <% }) %>
        </div>
    </form>