<% layout('layouts/boilerplate')%>
    <h1>
        <%=ingredient.name%>
    </h1>
    <h2>Add a New Recipe to <%=ingredient.name%>
    </h2>
    <div class="row">
        <form class="row gy-2 gx-3 align-items-center validated-form"
            action="/ingredients/<%=ingredient._id%>/recipes/newIngredient" method="POST" novalidate>
            <div class="mb-3 col-auto">
                <label class="form-label" for="name">Name:</label>
                <input class="form-control" type="text" id='name' name='recipe[name]' required>
            </div>
            <div class="mb-3 col-auto">
                <label class="form-label" for="minTime">Min amount of minutes to make:</label>
                <div class="input-group">
                    <span class="input-group-text" id="minTime-label">Minutes:</span>
                    <input class="form-control" type="number" id='minTime' name='recipe[minTime]' min=0 required>
                </div>
            </div>
            <div class="mb-3 col-auto">
                <label class="form-label" for="maxTime">Max amount of minutes to make:</label>
                <div class="input-group">
                    <span class="input-group-text" id="maxTime-label">Minutes:</span>
                    <input class="form-control" type="number" id='maxTime' name='recipe[maxTime]' min=0 required>
                </div>
            </div>
            <div class="row">
                <label class="form-label" for="recipe">Recipe:</label>
                <div class="mb-3 form-floating">
                    <textarea class="form-control" style="white-space: pre-wrap;height: 15rem;" class="form-control"
                        type="text" id='recipe' name='recipe[recipe]' required></textarea>
                </div>
            </div>
            <div class="mb-3 col-auto">
                <button class="btn btn-success">Add Recipe</button>
            </div>
    </div>
    <div class="row">
        <div class="mb-3 col-auto">
            <h2>Already existing Recipes</h2>
            <% for (let recipe of existingRecipesArray) { %>
                <div class="col-auto mb-3">
                    <li>
                        <a href="/recipes/<%=recipe._id%>/">
                            <%=recipe.name%>
                        </a>
                    </li>
                    <% } %>
                </div>
        </div>
        <div class="row">
            <h2>All Recipes</h2>
            <% allRecipes.forEach(function(rec, i) {%>
                <div class="col-auto form-check-inline">
                    <ul>
                        <li>
                            <%=rec.name%>
                        </li>
                        <div class="form-check-inline">
                            <input type="checkbox" id="rec-<%=i%>" name="addRecipes[]" value="<%=rec._id%>">
                        </div>
                        <label for="ing-<%=i%>">Attach <%=ingredient.name%> to <%=rec.name%>?</label>
                    </ul>
                </div>
                <% }) %>
        </div>
    </div>
    </form>
    <div class="row">
        <div class="col-auto">
            <a class="btn btn-primary btn-lg mb-3" href="/ingredients/<%=ingredient._id%>/">Back to <%=ingredient.name%>
            </a>
        </div>
    </div>