<% layout('layouts/boilerplate')%>
    <h1>
        <%= recipe.name %>
    </h1>
    <h2>
        <%= recipe.recipe %>
    </h2>
    <ul>
        <li>
            minimum amount of time to cook: <%=recipe.minTime%>
        </li>
        <li>
            maximum amount of time to cook: <%=recipe.maxTime%>
        </li>
        <li>
            Date: <%=formatDate(recipe.createdDate)%>
        </li>
    </ul>
    <h2>Ingredients</h2>
    <ul>
        <% for (let ingredient of recipe.ingredients) {%>
            <li>
                <a href="/ingredients/<%=ingredient._id%>">
                    <%=ingredient.name%> - <%=ingredient.quantity%>
                            <%=ingredient.quantityType%>
                </a>
            </li>
            <% } %>
    </ul>
    <h2>What you have: </h2>
    <% for (let item of itemsArray) {%>
        <ul>
            <li>
                <a href="/items/<%=item._id%>">
                    <%=item.title%> - <%=item.quantity%>
                            <%=item.quantityType%>
                </a>
            </li>
        </ul>
        <% } %>
            <h2>What you need: </h2>
            <% for (let ingredient of ingredientsNeededArray) {%>
                <ul>
                    <li>
                        <a href="/ingredients/<%=ingredient._id%>">
                            <%=ingredient.name%> - <%=ingredient.quantity%>
                                    <%=ingredient.quantityType%>
                        </a>
                    </li>
                </ul>
                <% } %>
                    <p> <a href="/recipes/<%=recipe._id%>/edit">Edit</a>
                    </p>
                    <p>
                    <form action="/recipes/<%=recipe._id%>?_method=DELETE" method="POST">
                        <button>Delete</button>
                    </form>
                    </p>
                    <footer>
                        <a href="/recipes/<%=recipe._id%>/ingredients/new">Add an ingredient</a>
                        <a href="/recipes">All recipes</a>
                    </footer>