<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show</title>
</head>

<body>
    <h1>
        <%= recipe.name %>
    </h1>
    <h2>
        <%= recipe.recipe %>
    </h2>
    <ul>
        <li>
            minimum amount of time to cook: <%=recipe.minTime%>
        </li>
        <li>
            maximum amount of time to cook: <%=recipe.maxTime%>
        </li>
        <li>
            Date: <%=formatDate(recipe.createdDate)%>
        </li>
        <li>
            ingredients: <%=recipe.ingredients%>
        </li>

    </ul>
    <p> <a href="/recipes/<%=recipe._id%>/edit">Edit</a>
    </p>
    <p>
    <form action="/recipes/<%=recipe._id%>?_method=DELETE" method="POST">
        <button>Delete</button>
    </form>
    </p>
    <footer>
        <a href="/recipes">All recipes</a>
    </footer>
</body>

</html>